body{
    margin:50px;
    font-size:30px;
    background-color: black;
    color:aliceblue;
    background-image: url('bg2.gif');
}
a {
    color:aliceblue;
    text-decoration: none;
}
/*
block level element
*/
h1{
    font-size:100px;
    text-align: left;
    font-style:italic;
    border-bottom:1px solid rgb(103, 103, 103);
    margin:0;
    padding:20px;
    color:aliceblue;
}
p{
    text-align: center;
}
.saw {
    color:aliceblue;
}
.active {
    color:aliceblue;
}
ol{
    border-right:1px solid rgb(103, 103, 103);
    width:130px;
    margin:0px;
    padding: 30px;
    font-size: 20px;
}
#article{
    padding: 20px;
}
#grid ol{
    padding-left: 33px;
}
#grid{
    display:grid;
    grid-template-columns: 200px 1fr;
}
@media(max-width:750px) {
    #grid{
        display:block;
    }
    ol{
        border-right:none;
    }
    body{font-size: 20px;
    }
    img{width: 400px;}
}